<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cn.itcast.douban"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk android:minSdkVersion="8" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:name="DoubanApplication"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name" >
        <activity
            android:name=".SplashActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainTabActivity" >
        </activity>
        <activity android:name=".Test" >
        </activity>
        <activity
            android:name=".MeActivity"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity android:name=".UserInfoActivity" >
        </activity>
        <activity android:name=".LoginActivity" >
        </activity>
        <activity android:name=".MyReadActivity" >
        </activity>
        <activity android:name=".MyNoteActivity" >
        </activity>
        <activity android:name=".NewNoteActivity" >
        </activity>
        <activity android:name=".EidtNoteActivity" >
        </activity>
        <activity android:name=".SettingActivity" >
        </activity>
        <activity
            android:name=".BookDetailActivity"
            android:theme="@android:style/Theme.Dialog" >
        </activity>
        <activity android:name=".NewBookActivity" >
        </activity>
        <activity android:name=".BestReviewActivity" >
        </activity>
        <activity android:name=".AboutActivity" >
        </activity>
    </application>

</manifest>